body{
    font-family: 'Inconsolata', monospace;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Shizuru', cursive;
    font-family: 'Teko', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    }